<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<testsuites>
		<testsuite name="WordPress Micropub Plugin">
			<directory prefix="class-test-" suffix=".php">./tests/phpunit/tests</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./includes</directory>
		</include>
	</coverage>
</phpunit>
